* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #E1E8EB;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .background {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 254px;
    width: 100%;
    background-image: linear-gradient(
      to right, 
      hsla(277, 100%, 32%, 0.902), 
      hsla(202, 76%, 39%, 0.902)
      )

      /* ,url('https://images.unsplash.com/photo-1546453667-8a8d2d07bc20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=100'); */
    }
    
    .first-heading {
      font-size: 25px;
      /* font-size: 1vw; */
      letter-spacing: 5px;
      text-transform: uppercase;
      color: white;
      margin-top: 75px;
    }

    .sub-heading {
      font-size: 15px;
      /* font-size: 1vw; */
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
      margin-top: 25px;
      text-align: center;
      max-width: 800px;
    }
    
    .first-heading--special {
      font-weight: 300;
    }

    .sub-heading--special {
      font-weight: 300;
    }
    
    .container {
      width: 1050px;
      height: 520px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      margin-top: 55px;
      display: flex;
      overflow: hidden;
    }
    
  textarea {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-x: hidden;
  }
  
  textarea:focus {
    outline: none;
    box-shadow: none;
  }

  .textarea {
    resize: none;
    flex: 2;
    font: inherit;
    padding: 30px 40px;
    font-size: 22px;
  }
  
  .textarea::placeholder {
    font-weight: 500;
    color: #959c9f;
  }
  
  .stats {
    flex: 1.3;
    background-color: #F1F6F8;
    display: flex;
    flex-wrap: wrap;
  }
  
  .stat {
    flex: 1 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stat:nth-child(1),
  .stat:nth-child(2),
  .stat:nth-child(3),
  .stat:nth-child(4),
  .stat:nth-child(5),
  .stat:nth-child(6),
  .stat:nth-child(7),
  .stat:nth-child(8) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .stat:nth-child(2),
  .stat:nth-child(4),
  .stat:nth-child(6),
  .stat:nth-child(8),
  .stat:nth-child(10) {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .stat__number {
    color: #4D5457;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .stat__number--limit {
    color: red;
  }
  
  .second-heading {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #4F5354;
    text-align: center;
  }
  
  .footer {
    width: 1050px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.4;
  }

  .alt {
    color: green;
  }
  
  
  .too__small {
    display: none;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
  }

  .too__small {
    display: none;
  }


/* ==================================== Responsive ==================================== */

  @media (max-width: 1150px) {
    .container {
      width: 85vw;
      flex-direction: column;
    }
  
    .first-heading {
      font-size: 7vw;
    }

    .sub-heading {
      font-size: 15px;
      margin-top: 25px;
      max-width: 900px;
    }
  
    .stat {
      padding: 15px 10px;
    }

    .stat:nth-child(1),
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(6) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(6),
    .stat:nth-child(8),
    .stat:nth-child(9) {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
  
    .stat__number {
      font-size: 20px;
    }
  
    .footer {
      width: initial;
      flex-direction: column;
      align-items: center;
    }
  }



  @media (max-width: 1058px) {
    .container {
      width: 85vw;
      flex-direction: column;
    }
  
    .first-heading {
      font-size: 7vw;
    }
  
    .stat {
      padding: 15px 10px;
    }

    .stat:nth-child(1),
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(7),
    .stat:nth-child(8),
    .stat:nth-child(9) {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
  
    .stat__number {
      font-size: 20px;
    }
  
    .footer {
      width: initial;
      flex-direction: column;
      align-items: center;
    }
  }


  @media (max-width: 705px) {
    .container {
      width: 85vw;
      flex-direction: column;
    }
  
    .first-heading {
      font-size: 7vw;
    }

    .sub-heading {
      font-size: 15px;
      margin-top: 25px;
      max-width: 420px;
    }
  
    .stat {
      padding: 15px 10px;
    }

    .stat:nth-child(1),
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(9) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(7),
    .stat:nth-child(8),
    .stat:nth-child(9) {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
  
    .stat__number {
      font-size: 15px;
    }

    .second-heading {
      font-size: 12px;
    }
  
    .footer {
      width: initial;
      flex-direction: column;
      align-items: center;
    }
  }


  @media (max-width: 529px) {
    .container {
      width: 85vw;
      flex-direction: column;
    }
  
    .first-heading {
      font-size: 6vw;
      margin-top: 35px;
    }

    .sub-heading {
      font-size: 10px;
      margin-top: 25px;
      max-width: 320;
    }

    .container {
      margin-top: 35px;
      height: 75vh;
    }

    .textarea {
      resize: none;
      flex: 2;
      font: inherit;
      padding: 30px 40px;
      font-size: 16px;
    }
  
    .stat {
      padding: 15px 10px;
    }

    .stat:nth-child(1),
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(9) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(7),
    .stat:nth-child(8),
    .stat:nth-child(9) {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
  
    .stat__number {
      font-size: 14px;
    }

    .second-heading {
      font-size: 12px;
    }
  
    .footer {
      width: 80%;
      flex-direction: column;
      align-items: center;
      text-align: center;

    }

    .copyright {
      font-size: 12px;
    }

    .data {
      font-size: 12px;
    }
  }


  @media (max-width: 352px) {
    .container {
      width: 85vw;
      flex-direction: column;
    }
  
    .first-heading {
      font-size: 5vw;
      margin-top: 35px;text-align: center;
    }

    .sub-heading {
      font-size: 8px;
      margin-top: 25px;
      max-width: 250px;
    }

    .container {
      margin-top: 35px;
    }

    .textarea {
      resize: none;
      flex: 2;
      font: inherit;
      padding: 20px 10px;
      font-size: 16px;
    }
  
    .stat {
      padding: 5px 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-left: 30px;

    }

    .stat:nth-child(1),
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(9) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    
    .stat:nth-child(2),
    .stat:nth-child(3),
    .stat:nth-child(4),
    .stat:nth-child(5),
    .stat:nth-child(7),
    .stat:nth-child(8),
    .stat:nth-child(9) {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
  
    .stat__number {
      font-size: 12px;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
      padding-right: 10px;

    }

    .second-heading {
      font-size: 12px;
      align-items: center;
      justify-content: center;
    }
  
    .footer {
      width: 80%;
      flex-direction: column;
      align-items: center;
      text-align: center;

    }

    .copyright {
      font-size: 12px;
    }

    .data {
      font-size: 12px;
    }
  }


  @media (max-width: 240px) {
    .container {
      width: 85vw;
      flex-direction: column;
    }
  
    
  }

/* === Below small === */
@media (max-width: 250px) {
  .container, .background, .first-heading,.footer {
    display: none !important;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(
      to right, 
      hsla(277, 100%, 32%, 0.902), 
      hsla(202, 76%, 39%, 0.902)
      ),
      url('https://images.unsplash.com/photo-1546453667-8a8d2d07bc20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=100');
  }

  .too__small {
    display: block !important;
    text-align: left;
    width:80%;
    font-size: 18px;
    background: white;
    border-radius: 15px;
    /* box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9); */
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  }

  .background {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 254px;
    width: 100%;
  }
}